.dexistCollectionBrowser {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  width: 800px;
  height: 600px;
  font-size:90%;
}

.dexistCollectionBrowser #browsingGrid .field-name {
	width:30%;
}
.dexistCollectionBrowser #browsingGrid .field-permissions {
	width:15%
}
.dexistCollectionBrowser #browsingGrid .field-owner {
	width:15%
}
.dexistCollectionBrowser #browsingGrid .field-group {
	width:15%
}
.dexistCollectionBrowser #browsingGrid .field-lastModified {
	width:25%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-id {
	width:30%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-read {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-write {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-execute {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-permissions .field-special {
	width:40%
}

.dexistCollectionBrowser .dformaGrid-acl .field-target {
	width:20%
}

.dexistCollectionBrowser .dformaGrid-acl .field-who {
	width:30%
}

.dexistCollectionBrowser .dformaGrid-acl .field-access {
	width:20%
}

.dexistCollectionBrowser .dformaGrid-acl .field-read {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-acl .field-write {
	width:10%
}

.dexistCollectionBrowser .dformaGrid-acl .field-execute {
	width:10%
}


.dformaGridContainer .dgrid {
	height:160px;
}


.dexistCollectionBrowser .breadcrumb {
  height: 10px;
  padding: 5px;
}

.dexistCollectionBrowser .dijitIcon {
	width:16px;
	height:16px;
	margin: 2px 3px;
}

.dexistCollectionBrowser .dexistToolbar_reload {
	background-image:url("images/arrow_refresh.png");
}

.dexistCollectionBrowser .dexistToolbar_reindex {
	background-image:url("images/database_refresh.png");
}

.dexistCollectionBrowser .dexistToolbar_new {
	background-image:url("images/folder_add.png");
}

.dexistCollectionBrowser .dexistToolbar_delete {
	background-image:url("images/bin.png");
}

.dexistCollectionBrowser .dexistToolbar_properties {
	background-image:url("images/application_form_edit.png");
}

.dexistCollectionBrowser .dexistToolbar_copy {
	background-image:url("images/page_copy.png");
}

.dexistCollectionBrowser .dexistToolbar_cut {
	background-image:url("images/cut.png");
}

.dexistCollectionBrowser .dexistToolbar_paste {
	background-image:url("images/page_paste.png");
}

.dexistCollectionBrowser .dexistToolbar_add {
	background-image:url("images/database_add.png");
}